<p>Olá <%= @resource.full_name %>!</p>

<p>Você solicitou um reset de senha. Conclua seu reset de senha através do link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, por favor ignore este e-mail.</p>
<p>Seu password não será alterado até que você entre no link abaixo e defina um novo.</p>
